@{
    ViewData["Title"] = "COMP2084 - Lab 2";
}

<div class="text-center">
    <h1 class="display-4">Welcome to COMP2084 - Lab 2</h1>
    <p>this project is for building Web Apps with ASP.NET Core, SQL Server, Entiry Framework and Bootstrap for COMP2084.</p>
</div>
